<div class = "container">
    <footer class = "d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" name="footer">
        <div class="col">
            <div class ="row" style="text-align: left;">fungifantasia@gmail.com</div>
        </div>
        <div class ="nav col-md-4 justify-content-end list-unstyled">
            <div class="row">
                <div style="overflow: hidden; display: inline-block;" id="links">
                    <p style="overflow: hidden;">
                        Follow at:<a href="https://www.facebook.com/fungifantasia" style="text-decoration: none;" id="facebook"><img class="img-responsive" name="facebook" src=".\static\FB Logo.png" style="width: 26px; height: 26px;">
                        </a><a href="https://www.instagram.com/fungi_fantasia/" id="instagram"><img class="img-responsive" src=".\static\Insta Logo.png" style="width: 25px; height: 25px;" name="instagram"></a></p>
                    
                </div>
            </div>
        </div>
    </footer>
</div>